<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Фильтры</h1>
    <p></p>Общее количество книг в библиотеке: {{form.books_count}}
    <p></p>Средняя цена всех книг: {{form.avg_cost}}
    <p></p>Самая дорогая книга: {{form.max_cost}}
    <p></p>Самая дешёвая книга: {{form.min_cost}}
    <p></p>Общее количество страниц во всех книгах: {{form.sum_pages}}
    <p></p>Количество книг в жанре фентези: {{form.books_count_fantasy}}
    <p></p>Количество книг в жанре сай-фай: {{form.books_count_sci_fi}}
    <p></p>Количество книг в жанре мистика: {{form.books_count_mystery}}
    <p></p>Количество книг в жанре хорор: {{form.books_count_horror}}
    <p></p>Количество книг в жанре нон-фикшин: {{form.books_count_non_fiction}}
    <p></p>Средняя цена книг автора: {{form.not_available_list}}
    <p></p>Общее количество страниц книг, написанных каждым автором: {{form.not_available_list}}
    <p></p>Год публикации самой старой и самой новой книги для каждого автора: {{form.not_available_list}}
    <p></p>Стоимость всех книг Д.Роулинг {{form.rouling_books_cost}}
    <p></p>Стоимость всех книг Антони {{form.antony_books_cost}}
    <p></p>Стоимость всех книг Хаксли {{form.haksly_books_cost}}

</body>
</html>